@model IEnumerable<GestorGastos.Web.Models.Gasto>
@{
    ViewData["Title"] = "Gastos";
}

<h1>@ViewData["Title"]</h1>
<p>
    <a asp-action="Create" class="btn btn-success">Nuevo Gasto</a>
</p>

<table class="table table-striped">
  <thead>
    <tr>
      <th>@Html.DisplayNameFor(m => m.First().Fecha)</th>
      <th>@Html.DisplayNameFor(m => m.First().Monto)</th>
      <th>@Html.DisplayNameFor(m => m.First().Categoria.Titulo)</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
  @foreach (var item in Model)
  {
      <tr>
        <td>@item.Fecha.ToString("yyyy-MM-dd")</td>
        <td>@item.Monto.ToString("C")</td>
        <td>@item.Categoria!.Titulo</td>
        <td>
          <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-sm btn-primary">Editar</a>
          <form asp-action="Delete" asp-route-id="@item.Id" method="post" class="d-inline">
            <button type="submit" class="btn btn-sm btn-danger">Borrar</button>
          </form>
        </td>
      </tr>
  }
  </tbody>
</table>
